body{
    margin: 5px;
    background-color: black;
    color: white;
    --color-main: #2F2519;
    --color-screen:#4A3F35;
    --color-accent:#FA7D09;
    --color-highlight:#FF4301;
}
/* Pallete
#2F2519
#4A3F35
#FA7D09
#FF4301
 */
.bg-dark-gray{
    /* background-color: rgb(15, 7, 45); */
    background-image: linear-gradient(to bottom right, rgb(38, 31, 77), rgb(14, 12, 24));
}

.bg-blue{
    background-color: blue;
}
.bg-red{
    background-color: red;
}
.bg-green{
    background-color: greenyellow;
}
.bg-highlight{
    background-color:var(--color-highlight);
}
.bg-grad-highlight{
    background-image: linear-gradient(to bottom right,blue, var(--color-highlight));
}
.vh-90 {
    height: 90vh!important;
}
.vh-80 {
    height: 80vh!important;
}
.vh-3 {
    height: 3vh!important;
}
.vh-40{
    height: 40vh!important;
}
.vh-35{
    height: 35vh!important;
}
.vh-20{
    height: 20vh!important;
}
.navbar-btn{
    background-color: var(--color-highlight);
    border-color: var(--color-screen);
}

.graph{
    /* background-image: linear-gradient(to 
                        bottom right, 
                        rgb(103, 119, 224),
                        rgb(44, 94, 232),
                        rgb(18, 71, 219),
                        rgb(3, 0, 150)); */
    background-color: #2b2b2b;
    /* border-radius: 20px; */
}

.bg-dash-graph{
    background-color: #1D1C1C;
}

.info-box{
    background-image: linear-gradient(to 
                        bottom right, 
                        rgb(224, 103, 103),
                        rgb(232, 44, 44),
                        rgb(219, 18, 18),
                        rgb(150, 0, 0));
    border-radius: 20px;
}








#map-container { 
    padding: 1vw;
    background-color: #252354;    
    border-radius: 20px;
}

#map { 
    margin: 10px;
    /* border-radius: 20px; */
    width: 50vw;
    height: 57vh; 
}

#map-l { 
    margin: 10px;
    /* border-radius: 20px; */
    /* width: 60vw; */
    height: 84vh; 
}